/* Give your page a fun background color */
body {
    background-color: #4169E1;
}
/* Make the header and footer a different color from the background */
header, footer {
    background-color: #FFF5EE;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color: #00008B;
    font-style: italic;
}
/* Put a border around your image */
img {
   border: 10px solid #DB7093;
}
/* Change the font-family of your list */
ul {
    font-family: Georgia, 'Times New Roman', serif;
}