/* Add a background color to the header element */

/* Add a fun background color to the main element */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

/* Add a background color to the footer element */