header { color:crimson
}
/* Add a fun background color to the main element */
main {
  background-color:azure
}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
}
/* Make your p tag a different color and italic */
p {
  color:darkgoldenrod}
/* Put a border around your image */
img{
  border:5px solid #555
  }

/* Change the font-family of your list */
ul{
  font-family:"Times New Roman", Times, serif;
}
/* Add a backgr ound color to the footer element */