/* give your page a fun background color */

/* give your header and footer another background color */

/* define the font for your header */

/* remove the bullets from your unordered list */

/* make your paragraph italic and a color that is not black */